In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('Article_top_Data.csv')
df.head()

,Unnamed: 0,Date,StoreNumber,CashRegisterNumber,ReceiptNumber,ReceiptRowNumber,Time,ArticleNumber,ArticleName,Quantity,Timestamp,Month,Day,Hour,Group
0,4,2022-01-03,1001,1,296,5,09:21:14,419727,"GL H-Milch 3,5% 1L VLOG",1.0,2022-01-03 09:21:14,1,0,9,Milch
1,6,2022-01-03,1001,1,296,7,09:21:14,999999998025,Pfandartikel (Tandem) - EW,1.0,2022-01-03 09:21:14,1,0,9,Pfandartikel
2,7,2022-01-03,1001,1,296,8,09:21:14,435066,Schlaufentragetasche ST,1.0,2022-01-03 09:21:14,1,0,9,Schlaufentragetasche ST
3,19,2022-01-03,1001,1,300,1,09:25:34,421791,BO-Laugenbreze 1ST,1.0,2022-01-03 09:25:34,1,0,9,BO-Laugenbreze 1ST
4,20,2022-01-03,1001,1,300,2,09:25:34,421791,BO-Laugenbreze 1ST,1.0,2022-01-03 09:25:34,1,0,9,BO-Laugenbreze 1ST

In [3]:
print(df.StoreNumber.unique())

[1001 1007 1028 1033 1053 1098 1223 1303 1311 1417 1436 1487 1504 2801]

In [4]:
encoder = LabelEncoder()
df.StoreNumber = encoder.fit_transform(df.StoreNumber)
print(df.StoreNumber.unique())
df.StoreNumber = df.StoreNumber.apply(lambda x: f'store_{x}')
print(df.StoreNumber.unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13]
['store_0' 'store_1' 'store_2' 'store_3' 'store_4' 'store_5' 'store_6'
 'store_7' 'store_8' 'store_9' 'store_10' 'store_11' 'store_12' 'store_13']

In [6]:
sales = df.groupby(['Date','StoreNumber', 'Group'], as_index=False).aggregate({'Quantity': 'sum'})
# Feature matrix with shape (n_series x time_observations)
ts_series = sales.pivot(index=['Date','StoreNumber'], columns=['Group'])
ts_series = ts_series.fillna(0)
ts_series.head()

                                       Quantity                        \
Group                  AugustinerHellMW1x0,5LFL Avocado vorgereift ST
Date       StoreNumber
2022-01-03 store_0                          0.0                  29.0
           store_1                          0.0                  40.0
           store_10                        10.0                  23.0
           store_11                        50.0                 148.0
           store_12                         0.0                  39.0

                                                                  \
Group                  BO-Laugenbreze 1ST Bananen Lose Broetchen
Date       StoreNumber
2022-01-03 store_0                   71.0       23.730     300.0
           store_1                    0.0        0.000       1.0
           store_10                   0.0       38.196       0.0
           store_11                 137.0       57.154     193.0
           store_12                  86.0       32.090     236.0

                                                                       \
Group                  GL Sahne 30% 200g VLOG Gurken ST Kiwi Gruen ST
Date       StoreNumber
2022-01-03 store_0                       13.0      54.0          22.0
           store_1                       30.0      42.0          34.0
           store_10                      21.0      66.0          44.0
           store_11                      35.0      41.0          62.0
           store_12                      26.0      73.0          35.0

                                                                     \
Group                  M.I. Mozzarella oGt 125g  Milch Pfandartikel
Date       StoreNumber
2022-01-03 store_0                         12.0   64.0        631.0
           store_1                         29.0   60.0        258.0
           store_10                        29.0   66.0        942.0
           store_11                        22.0   87.0        722.0
           store_12                        33.0  105.0        860.0

                                                                         \
Group                  SammelNr. Lose Backwaren Schlaufentragetasche ST
Date       StoreNumber
2022-01-03 store_0                          0.0                    65.0
           store_1                          0.0                    14.0
           store_10                       349.0                    52.0
           store_11                         0.0                    60.0
           store_12                         0.0                    39.0


Group                  VL Eier BH 10ST  Zeitschriften 7%
Date       StoreNumber
2022-01-03 store_0                 45.0             21.0
           store_1                  5.0             17.0
           store_10                50.0             22.0
           store_11                 0.0             15.0
           store_12                28.0             30.0

In [7]:
ts_series.reset_index(1, inplace=True)
ts_series.head()

           StoreNumber                 Quantity                        \
Group                  AugustinerHellMW1x0,5LFL Avocado vorgereift ST
Date
2022-01-03     store_0                      0.0                  29.0
2022-01-03     store_1                      0.0                  40.0
2022-01-03    store_10                     10.0                  23.0
2022-01-03    store_11                     50.0                 148.0
2022-01-03    store_12                      0.0                  39.0

                                                                             \
Group      BO-Laugenbreze 1ST Bananen Lose Broetchen GL Sahne 30% 200g VLOG
Date
2022-01-03               71.0       23.730     300.0                   13.0
2022-01-03                0.0        0.000       1.0                   30.0
2022-01-03                0.0       38.196       0.0                   21.0
2022-01-03              137.0       57.154     193.0                   35.0
2022-01-03               86.0       32.090     236.0                   26.0

                                                                    \
Group      Gurken ST Kiwi Gruen ST M.I. Mozzarella oGt 125g  Milch
Date
2022-01-03      54.0          22.0                     12.0   64.0
2022-01-03      42.0          34.0                     29.0   60.0
2022-01-03      66.0          44.0                     29.0   66.0
2022-01-03      41.0          62.0                     22.0   87.0
2022-01-03      73.0          35.0                     33.0  105.0

                                                                          \
Group      Pfandartikel SammelNr. Lose Backwaren Schlaufentragetasche ST
Date
2022-01-03        631.0                      0.0                    65.0
2022-01-03        258.0                      0.0                    14.0
2022-01-03        942.0                    349.0                    52.0
2022-01-03        722.0                      0.0                    60.0
2022-01-03        860.0                      0.0                    39.0


Group      VL Eier BH 10ST  Zeitschriften 7%
Date
2022-01-03             45.0             21.0
2022-01-03              5.0             17.0
2022-01-03             50.0             22.0
2022-01-03              0.0             15.0
2022-01-03             28.0             30.0

In [8]:
ts_series.columns = ts_series.columns.droplevel(0)
ts_series.rename(columns={'':'StoreNumber'}, inplace=True)
ts_series.head()

Group,StoreNumber,"AugustinerHellMW1x0,5LFL",Avocado vorgereift ST,BO-Laugenbreze 1ST,Bananen Lose,Broetchen,GL Sahne 30% 200g VLOG,Gurken ST,Kiwi Gruen ST,M.I. Mozzarella oGt 125g,Milch,Pfandartikel,SammelNr. Lose Backwaren,Schlaufentragetasche ST,VL Eier BH 10ST,Zeitschriften 7%
Date,,,,,,,,,,,,,,,,
2022-01-03,store_0,0.0,29.0,71.0,23.730,300.0,13.0,54.0,22.0,12.0,64.0,631.0,0.0,65.0,45.0,21.0
2022-01-03,store_1,0.0,40.0,0.0,0.000,1.0,30.0,42.0,34.0,29.0,60.0,258.0,0.0,14.0,5.0,17.0
2022-01-03,store_10,10.0,23.0,0.0,38.196,0.0,21.0,66.0,44.0,29.0,66.0,942.0,349.0,52.0,50.0,22.0
2022-01-03,store_11,50.0,148.0,137.0,57.154,193.0,35.0,41.0,62.0,22.0,87.0,722.0,0.0,60.0,0.0,15.0
2022-01-03,store_12,0.0,39.0,86.0,32.090,236.0,26.0,73.0,35.0,33.0,105.0,860.0,0.0,39.0,28.0,30.0

In [9]:
ts_series.columns = ['StoreNumber','Augustiner','Avocado','BO-Laugenbreze','Bananen','Broetchen','GL_Sahne',
                        'Gurken','Kiwi_Gruen','Mozzarella','Milch','Pfandartikel','SammelNr','Schlaufentragetasche','VL_Eier','Zeitschriften']
ts_series.head()

,StoreNumber,Augustiner,Avocado,BO-Laugenbreze,Bananen,Broetchen,GL_Sahne,Gurken,Kiwi_Gruen,Mozzarella,Milch,Pfandartikel,SammelNr,Schlaufentragetasche,VL_Eier,Zeitschriften
Date,,,,,,,,,,,,,,,,
2022-01-03,store_0,0.0,29.0,71.0,23.730,300.0,13.0,54.0,22.0,12.0,64.0,631.0,0.0,65.0,45.0,21.0
2022-01-03,store_1,0.0,40.0,0.0,0.000,1.0,30.0,42.0,34.0,29.0,60.0,258.0,0.0,14.0,5.0,17.0
2022-01-03,store_10,10.0,23.0,0.0,38.196,0.0,21.0,66.0,44.0,29.0,66.0,942.0,349.0,52.0,50.0,22.0
2022-01-03,store_11,50.0,148.0,137.0,57.154,193.0,35.0,41.0,62.0,22.0,87.0,722.0,0.0,60.0,0.0,15.0
2022-01-03,store_12,0.0,39.0,86.0,32.090,236.0,26.0,73.0,35.0,33.0,105.0,860.0,0.0,39.0,28.0,30.0

In [11]:
ts_series.values[0:5]

array([['store_0', 0.0, 29.0, 71.0, 23.73, 300.0, 13.0, 54.0, 22.0, 12.0,
        64.0, 631.0, 0.0, 65.0, 45.0, 21.0],
       ['store_1', 0.0, 40.0, 0.0, 0.0, 1.0, 30.0, 42.0, 34.0, 29.0,
        60.0, 258.0, 0.0, 14.0, 5.0, 17.0],
       ['store_10', 10.0, 23.0, 0.0, 38.196, 0.0, 21.0, 66.0, 44.0, 29.0,
        66.0, 942.0, 349.0, 52.0, 50.0, 22.0],
       ['store_11', 50.0, 148.0, 137.0, 57.153999999999996, 193.0, 35.0,
        41.0, 62.0, 22.0, 87.0, 722.0, 0.0, 60.0, 0.0, 15.0],
       ['store_12', 0.0, 39.0, 86.0, 32.09, 236.0, 26.0, 73.0, 35.0,
        33.0, 105.0, 860.0, 0.0, 39.0, 28.0, 30.0]], dtype=object)

In [10]:
sales_data = ts_series.to_numpy()
sales_data[0:5]

array([['store_0', 0.0, 29.0, 71.0, 23.73, 300.0, 13.0, 54.0, 22.0, 12.0,
        64.0, 631.0, 0.0, 65.0, 45.0, 21.0],
       ['store_1', 0.0, 40.0, 0.0, 0.0, 1.0, 30.0, 42.0, 34.0, 29.0,
        60.0, 258.0, 0.0, 14.0, 5.0, 17.0],
       ['store_10', 10.0, 23.0, 0.0, 38.196, 0.0, 21.0, 66.0, 44.0, 29.0,
        66.0, 942.0, 349.0, 52.0, 50.0, 22.0],
       ['store_11', 50.0, 148.0, 137.0, 57.153999999999996, 193.0, 35.0,
        41.0, 62.0, 22.0, 87.0, 722.0, 0.0, 60.0, 0.0, 15.0],
       ['store_12', 0.0, 39.0, 86.0, 32.09, 236.0, 26.0, 73.0, 35.0,
        33.0, 105.0, 860.0, 0.0, 39.0, 28.0, 30.0]], dtype=object)

In [12]:
import arff
arff.dump('store_text.arff',
        sales_data,
        relation = 'stores',
        names = ts_series.columns)